*{
    padding: 0;
    margin: 0;
    /*align-items: center;*/
    font-family: sans-serif;
   
}
li,a{
    list-style: none;
    text-decoration: none;
}
.logo{
    width: 120px;
    
}
.hamburger{
    width: 20px;
    margin-right: 5px;
}
.exit{
    width: 10px;
}
.hide-mobile{
    display: none;
}
.hide_mob{
    display: none;
}
header{
    display: flex;
    justify-content: space-between; 
    background-color: white;
    padding: 20px 10px;
    z-index: 7px;
    position: sticky;
    top: 0px;
    z-index: 7;
}
.container{
    padding:3% 7%;
   
}
.bgImage{
    width: auto;
     height: 750px;
     
 }

.bgImage::before{
    content: '';
    background-image: url(../images/bg\ img\ mobile.png);
    position: absolute;
    top: 70px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-size: cover;
    height: 740px;
    width: auto;
   
}
.bgText{
    position: relative;
    margin: 10px 25px ;
  
}

.bgText h2{
    font-size: 35px;
}
.bgText p{
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 20px;
}
/*span{
    background-color: rgb(245, 153, 91);
    border-radius: 13px;
    color: white;
    font-size: 12px;
    padding: 7px;
    box-shadow: 2px  2px 2px rgb(194, 179, 179);
    padding-inline: 10px;
}
span img{
    padding-left: 5px;

}
.order-now{
    text-align: center;
}*/
.info{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2em;
    /* border: 2px solid black; */
    
   
}
.info li div{
    padding-top: 30px;
    text-align: center;
    width: 200px;
    height: 60px;
    background-color:  rgb(250, 240, 220);
    margin-bottom: 35px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 13px;
    color: black;
    box-shadow: 1px 1px 15px #c2b5b5;
    
}
.about{
    text-align: center;
    margin-top:3px;
    line-height: 40px;
    margin-bottom: 3%;
   
}
.about a{
    color: rgb(245, 153, 91);
    font-weight: bold;
    letter-spacing: 4px;
}
.about-img-container{
    width: auto;
    height: 330px;
    background-color: rgb(240, 235, 235);
}
.about-img{
    width: 100%;
    height: 250px;
    padding-top: 40px;

}
.note-about-us{
    margin: 15px 20px;
    font-size: 13px;
    word-spacing: 5px;
    line-height: 23px;
    color: rgb(63, 54, 54);
}
.btn{
    width: 40%;
    height: 30px;
    background-color:#FF7913;
    margin-top: 30px;
    border-radius: 20px;
    text-align: center;
    padding-top: 8px;
    box-shadow: 2px  2px 2px rgb(194, 179, 179);
    padding-inline: 10px;
}
.btn a{
    color: white;
    word-spacing: 3px;
    font-size: 15px;
}

.second-bg-img{
    background-image: url(../images/background.png);
    width: auto;
    height: 150px;
    background-size: cover;

}
.second-bg-img p{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
 /*button{
     text-align: center;
     color: white;
    position: relative;
    background-color:red;
    width: autos;
    height: 50px;
    position: relative;
    justify-content: center;
}*/
.big-container{
    width: auto;
    height: 950px;
    background-color: rgb(253, 249, 242);
    text-align: center;
    padding-top: 25px;
}
.big-container a{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 3px;
    color: #FF7913;
}
.big-container p{
    font-size: 17px;
    padding-top: 15px;
    
    font-weight: normal;
}
.order-delivery{
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
.order-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    background-color: white;
    padding-top: 25px;
   padding-bottom: 25px;
   box-shadow: 1px 1px 10px #c2b5b5;
   border-radius: 7px;
    
}
.order-list img{
    height: 70px;
    width: 60px;
}
.order-list a{
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
.order-list p{
    font-size: 15px;
    font-weight: lighter;
    padding-left: 15px;
    padding-right: 15px;
}
 .menu-list .menu-list2{
    width: auto;
    /* height: auto; */
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: whitesmoke;
    margin-bottom: .5em;
}
.menu-list p .menu-list2 p{
    text-align: center;
    font-size: 17px;
    padding-top: 15px;
    word-spacing: 3px;
    font-weight: bold;
    padding-bottom: 20px;
    /* height: 500px; */

} */
.food-list{
    width: auto;
    height: 200px;
    margin: 500px;
    /* margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 250px; */
    border-radius: 15px;
    
}
.food-list h3{
    font-size: 15px;
}
.food-list p{
    font-size: 14px;
    font-weight: lighter;
}
.food-list img{
    /* height: 100%; */
    width: 100%;
}
.order_now{
    width: 50%;
    background-color: #FF7913;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    margin-left: 50px;
    color: white;
}
.menu-name{
    background-color: white;
    margin-top: -7px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius: 20px;
}
.menu-price{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footer-container{
    background-color:#645143; 
    color: rgb(238, 237, 237);
}
.footer-container-content{
    padding: 45px;
    font-size: 13px;
    font-weight: -2px;
}
.footer-container h3{
    font-size: 18px;
    font-weight: lighter;
}
.footer-container img{
    width: 60%;   
}
footer{
    text-align: center;
    font-size: 14px;
    padding-bottom: 40px;
    color: whitesmoke;
}
 @media only screen and (min-width: 410px){
    .bgText{
        padding-left: 50px;
    }
    .order-delivery{
        margin-left: 65px;
        margin-right: 65px;
    }
    .note-about-us{
        margin: 25px 35px; 
    }
    .food-list{
        margin-left: 40px;
        margin-right: 40px;
    }
    .footer-container-content{
        margin-left: 30px;
    }
    footer{
        margin-left: 5px;
        font-size: 13px;
    }
 }
 @media only screen and (min-width: 460px){
    .info li div{
        width: 250px;
        height: 70px;
        line-height: 18px;
        font-size: 15px;           
    }
    .note-about-us{
        margin: 35px 45px;
        font-size: 15px; 
    }
    .order-list{
        width: 90%;
    }
    .food-list{
        margin-left: 80px;
        margin-right: 80px;
    }
    .big-container a{
        font-size: 25px;
        letter-spacing: 3px;
    }
    .order-delivery{
        margin-left: 80px;
        margin-right: 80px;
    }
 }
 /* responsiveness for desktop view */
 @media only screen and (min-width: 600px){
     /* header styling for desktop */
.hamburger{
 display: none;
}
.exit{
    display: none;
}
.show-desktop{
    display: inline;
}
nav li{
 float: right;
align-content: center;
}
 nav li,a{
 list-style: none;
 text-decoration: none;
 color: black;
 padding: 5px 20px 5px 20px;
}
a{
    text-align: center;
}
.logo{
 padding-left: 60px;
 width: 150px;
}
header a:hover{
    border-bottom: 2px solid  #FF7913;
}

header{
 display: flex;
 justify-content: space-between; 
 background-color: white;
 padding: 20px 10px;
 position: sticky;
 top: 0px;
 z-index: 7;
}
/* the end of header styling for desktop */

}
.bgImage::before{
    background-image: url(../images/bghome.png);
    position: absolute;
    top: 130px;
    height: 800px;
    width: auto;
    background-size: cover;
}
/* the shawarma image style */
.show_desk{
    display: inline;
    width: 35%;
    position: relative;
    bottom: 400px;
    left: 650px; 
}
.bgText{
    padding-top: 25px;
}
.bgText h2{
    font-family: sans-serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
}
.bgText p{
    font-family: sans-serif ;
    font-style: normal;
    line-height: 30px;
    font-size: 20px;   
}
.bgImage{
    margin-left: 46px;
    margin-top: 55px;
}
.order-now-btn{
    width: 15%;
    background-color: #FF7913 ;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-top: 13px;
}
.order-now{
    color: white;
}
.bgImage{
    width: auto;
     height: 850px;
}
/* the three informatin boxes */
.info{
    position: relative;
    bottom: 370px;
    right: 24px;
    /* width: auto; */
    /* display: flex; */
   
   /* margin: auto; */
}
.info ul{
    display: flex;
}
.info li{
    margin: 2em 1em 2em 1em;
}
.info li:first-child{
    margin-top: 3em;
}
.info li div{
    margin: 5px;
    width: 250px;
    height: 90px;

}
/* about us design */
.about a{
    font-size: 20px;
    letter-spacing: 5px;
}
.about h4{
    font-size: 42px;
    letter-spacing: 3px;
    line-height: 50px;
}
.about-us-container{
    margin-left: 84px;
    margin-right: 83px;
    display: flex;
}
.about-img-container{
    width: 40%;
    margin-left: 50px;
    height: 370px
}
.note-about-us{
    width: 40%;
    font-size: 15px;
   
    line-height: 25px;
    margin-left: 60px;
    
}
/* second background image style */
.second-bg-img{
    display: flex;
    height: 200px;
}
.second-bg-img p{
    padding-top: 45px;
    font-size: 45px;
    width: 60%;
    margin-left: 70px;
    text-align: left;
    font-weight: bold;
    line-height: 55px;
    padding-right: 200px;
}
.button{
    background-color: #FF7913 ;
    width: 10%;
    height: 20px;
    padding: 10px;
    border-radius: 25px;
    margin-top: 85px;
  

}

/* the order delivery style */
.order-delivery{
    display: flex;
    margin-left: 110px;
}
/* .delivery-rate{
    font-size: 40px;
} */
.order-list{
    width: 28%;
    margin: 25px;
}
.big-container{
    height: 500px;
}
.big-container a{
    font-size: 20px;
}
.menu{
    color: #FF7913;
    font-size: 18px;
    letter-spacing: 7px;
}
.menu-p{
    text-align: center;
    font-size: 35px;
}
/* styles for the list of food */
.menu-list{
    display: flex;
    margin-left: 140px;
    /* margin-bottom: 10px; */
}
.menu-list2{
    display: flex;
    margin-left: 140px;
    margin-bottom: 10px;
}
.food-list{
    width: 25%;
    margin: 25px;
    /* padding-bottom: 5px; */
}
.menu-price, p{
    padding: 20px;
}
.menu-name{
    background-color: rgb(253, 253, 243);
}
.order_now{
    margin-left: 65px;
}
.footer-container-content{
    display: flex;
    margin-top: 50px;
    padding-top: 100px;
}
.footer-container-content img{
    width: 20%;
    height: 50px;
}
.footer-container-content div{
    width: 15%;
    text-align: left;
    margin-right: 10px;
    margin-left: 40px;
}
.footer-container-content p{
    padding: 8px;
    line-height: 7px;
    font-size: 13px;
}
 }